$color-base: #A8B2FF;
$color-negro: black;
$color-menu: #374EF6;
$color-blanco: white;
$font-color: #aaa;
$deepRed: #86042d;

$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6);

$limit: 10;
$unidad: 8px;